<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:targetSandboxVersion="1"
package="com.nasinet.live">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.CALL_PHONE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_LOGS" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-feature android:name="android.hardware.Camera"/>
<uses-feature android:name="android.hardware.camera.autofocus" />
<application
    android:name="com.nasinet.live.base.MyApp"
    android:allowBackup="true"
    android:icon="@mipmap/logo"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:roundIcon="@mipmap/logo"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    android:theme="@style/AppTheme"
    android:resizeableActivity="false">


    <activity
        android:name="com.nasinet.live.ui.act.HomeActivity"
        android:theme="@style/AppTheme2"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>
    <activity
        android:name="com.nasinet.live.ui.act.SplashActivity"
        android:theme="@style/MySplashTheme"
        android:screenOrientation="portrait"

        android:configChanges="orientation|keyboardHidden|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


    <activity
        android:name="com.nasinet.live.ui.act.TestActivity"
        android:theme="@style/AppTheme2"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:configChanges="orientation|keyboardHidden|screenSize">
<!--        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->
    </activity>

    <activity
        android:name="com.nasinet.live.ui.act.MyLevelActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.ChatActivity"
        android:windowSoftInputMode="adjustPan|stateHidden"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>

    <activity
        android:name="com.nasinet.live.ui.act.PublishTrendActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>
    <activity
        android:name="com.nasinet.live.ui.act.PhotoWallActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>

    <activity
        android:name="com.nasinet.live.ui.act.LiveManageActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>


    <activity
        android:name="com.nasinet.live.ui.act.WebViewActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.WebShopActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.CollectActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.MyShortVideoActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.MyTrendActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.UserTrendsActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.ReplayTrendActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.LoginActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.InviteHistoryActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.IncomeAgentActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.InviteHistoryAgentActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.ReportItemActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.SearchActivity"
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.ReportActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.RegisterAndPasswordActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.PhoneLoginActivity"
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:theme="@style/AppTheme3"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.SettingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme3"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.BuyMemberActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.InviteFriendActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
    android:name="com.nasinet.live.wxapi.WXEntryActivity"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.Translucent.NoTitleBar"
    android:exported="true"

    android:launchMode="singleTask">


    </activity>


    <activity
        android:name="com.nasinet.live.wxapi.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme=""/>
        </intent-filter>

    </activity>



    <activity
        android:name="com.nasinet.live.video.TCVideoEditerActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoEffectActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoPublisherActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoRecordActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>


    <activity
        android:name="com.nasinet.live.video.TCPictureJoinActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCPicturePickerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCTripleRecordVideoPickerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoCutActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoFollowRecordActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoTripleScreenActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoJoinerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.video.TCVideoPickerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.ShortVideoPublishActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.VideoPlayActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.MyWalletActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.CashOutHistoryActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.WalletManagerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.MyIncomeActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.BindPhoneActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.MySettingActivity"
        android:screenOrientation="portrait"

        android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.ApplyAnchorActivity"
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.RoomManagerActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.LivePushActivity"
        android:theme="@style/AppTheme2"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.ToPayActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.AllMessageActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.FollowActivity"

        android:configChanges="orientation|keyboardHidden|screenSize"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.nasinet.live.ui.act.SuperPlayerActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustPan|stateAlwaysHidden"

        />

    <activity
        android:name="com.nasinet.live.ui.act.SuperPlayerVerticalActivity"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"

        />

    <activity
        android:name="com.alipay.sdk.app.H5PayActivity"

        android:exported="false"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize|stateHidden"/>


    <activity
        android:name="com.alipay.sdk.app.H5AuthActivity"

        android:exported="false"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize|stateHidden">
    </activity>

    <activity
        android:name="com.nasinet.live.ui.act.SystemMessageActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>
    <activity
        android:name="com.nasinet.live.ui.act.IntimacyListActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.ShortVideoCenterActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"
     />
    <activity
        android:name="com.nasinet.live.ui.act.UserShortVideoActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"
       />
    <activity
        android:name="com.nasinet.live.ui.act.AnchorCenterActivity"

        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"/>

    <activity
        android:name="com.nasinet.live.ui.act.PhotoInfoActivity"
        android:screenOrientation="portrait"

        android:configChanges="orientation|keyboardHidden|screenSize"/>


  <activity
      android:name="com.nasinet.live.ui.act.SearchTalkActivity"
      android:screenOrientation="portrait"

      android:configChanges="orientation|keyboardHidden|screenSize"/>

  <activity
      android:name="com.nasinet.live.ui.act.UserRankActivity"

      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|screenSize"/>


  <activity
      android:name="com.nasinet.live.ui.act.TopicShortVideoActivity"

      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|screenSize"/>
  <activity
      android:name="com.nasinet.live.ui.act.TopicMomentVideoActivity"

      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|screenSize"/>




    <meta-data android:name="android.max_aspect" android:value="2.2" />
</application>
</manifest>

